<div class="book-list">
  <div class="book-item" *ngFor="let book of paginatedBooks; let i = index" (click)="onShowBookDetails(book)">
    <div class="book-left">
      <img src={{book.thumbnail}} alt="Book Image"/>
    </div>
    <div class="book-right">
      <div class="bookHeading">{{ book.title }}</div>
      <div class="label">{{ book.author }}</div>
      <div class="label">
        <span>{{ book.category }}</span>
        <span>{{ book.yearPublished | date }}</span>
        <span>{{ book.pageCount }} Pages</span>
      </div>
      <div>
        <button type="button" class="btn btn-dark">{{ displayConstants.ShowBookDetails }}</button>
      </div>
    </div>
  </div>
</div>
<app-pagination
  *ngIf="enablePagination"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)"
></app-pagination>