<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">{{ displayConstants.Author}}</th>
        <th scope="col">{{ displayConstants.Isbn}}</th>
        <th scope="col">{{ displayConstants.Category}}</th>
        <th scope="col">{{ displayConstants.YearPublished}}</th>
        <th scope="col">Available Copies</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table table-hover">
      <tr *ngFor="let book of paginatedBooks; let i = index">
        <th scope="row">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.category }}</td>
        <td>{{ book.yearPublished | date }}</td>
        <td>{{ book.numberOfCopies }}</td>
        <td >
            <button  type="button" class="btn btn-dark"(click)="onShowBookDetails(book)">{{ displayConstants.ShowBookDetails }}</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)"
></app-pagination>