<div class="change-password-form-container">
    <div class="change-password-form">
        <form (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="current-password">Current Password</label>
                <input class="small-input" id="current-password" type="password" [(ngModel)]="currentPassword" name="current-password" placeholder="Current Password" required>
            </div>
            <div class="input-group">
                <label for="new-password">New Password</label>
                <input class="small-input" id="new-password" type="password" [(ngModel)]="newPassword" name="new-password" placeholder="New Password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input class="small-input" id="confirm-password" type="password" [(ngModel)]="confirmNewPassword" name="confirm-password" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="submit-button">Confirm Password</button>
        </form>
    </div>
</div>
