<div class="login-form-container">
  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="input-group">
      <label for="username">Username</label>
      <input class="form-control small-input" id="username" [(ngModel)]="username" name="username" required />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input class="form-control small-input" id="password" type="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit" class="login-button">Login</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div class="links">
      <div class="div">Forgot password? <a routerLink="/change-password">Update Password</a></div>
    <div class="div">Don't have an account? <a routerLink="/create-account">Create Account</a></div>
    </div>
  </form>
 
</div>
