<table class="table table-bordered table-hover">
    <thead>
        <div class="card-header">Books</div>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Category</th>
        <th scope="col">Year Published</th>
        <th scope="col">Available Copies</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table table-hover">
      <tr  *ngFor="let book of paginatedBooks; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.category }}</td>
        <td>{{ book.yearPublished | date }}</td>
        <td>{{ book.numberOfCopies }}</td>
        <td >
            <button class="btn btn-primary btn-sm me-2">
                <i class="bi bi-pencil" (click)="editBook(book.id)" ></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
                <i class="bi bi-trash"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
  *ngIf="enablePagination"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)"
></app-pagination>