<div class="request-list">
    <h3>{{ displayConstants.History }}</h3>
</div>

<div class="request-list-items">
    <div class="request-items" *ngFor="let request of requests; let i = index">
        <div class="index">
            {{i + 1}}
        </div>
        <div class="request-item">
            <span class="request-header">{{ request.title }}</span>
        </div>
        <div class="request-item">
            <span class="label">{{ displayConstants.DateRequested }}</span>
            <span class="label">{{ request.dateRequested | date: 'yyyy-MM-dd' }}</span>
        </div>
        <div class="request-item">
            <span class="label">{{ displayConstants.DateApproved }}</span>
            <span class="label">{{ request.dateApproved | date: 'yyyy-MM-dd' }}</span>
        </div>
        <div class="request-item">
            <span class="label">{{ displayConstants.DateReturned }}</span>
            <span class="label">{{ request.dateReturned | date: 'yyyy-MM-dd' }}</span>
        </div>
        <div class="request-item">
            <span class="label">{{ displayConstants.Status }}</span>
            <span class="label">{{ request.status }}</span>
        </div>
        <div class="action-buttons">
            <button *ngIf="request.status == 'Pending'" type="button" class="btn btn-dark"
                (click)="cancelRequest(request)">{{ displayConstants.Cancel }}</button>
        </div>
    </div>
    <div *ngIf="showPopup" class="cancel-popup">
        <div class="popup-content">
          <div class="popup-header">
            <span class="close" (click)="closePopup()">&times;</span>
          </div>
          <div class="popup-body">
            <p>{{ displayConstants.CancelPrompt }}</p>
          </div>
          <div class="popup-footer">
            <button type="button" class="btn btn-danger" style="width: 140px;" (click)="confirmCancel()">{{ displayConstants.Yes }}</button>
            <button type="button" class="btn btn-secondary" style="width: 140px;" (click)="closePopup()">{{ displayConstants.No }}</button>
          </div>
        </div>
      </div>
</div>