@import "../../styles.less";

.navbar {
    background-color: @white-color;
    height: 73px;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    border-bottom: 1px solid #d4d4d4;
}

.header {
    text-align: left;
    z-index: 12;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 9px;
}

#logo {
    float: left;
    margin-right: 14px;
    margin-top: 8px;
    margin-left: -2px;
}