.navbar {
    background-color: #c5e1f6;
}

.bi {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #0056b3;
}

.home-navbar{
    width: 19%;
    display: flex;
}

.search-bar {
    width: 60%;
}



.login-bar {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.login-info {
    height: 40px;
    display: inline-table;

    .navbar-login {
        display: flex;

        .btn.bi {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
.navbar-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}