<app-book-details *ngIf="selectedBook" [book]="selectedBook" [displayConstants]="displayConstants"></app-book-details>
<div class="main-container">
  <app-category-filter [books]="books" (filteredBooksChange)="updateFilteredBooks($event.filteredBooks, $event.category)"></app-category-filter>
  <app-latest-books *ngIf="!filterCategory" [latestBooks]="latestBooks" (showBookDetails)="navigateToBookDetails($event)"></app-latest-books>
  <app-book-list-view [books]="filteredBooks" [displayConstants]="displayConstants" (showBookDetails)="navigateToBookDetails($event)"></app-book-list-view>
</div>