<app-book-details-modal *ngIf="showModal && selectedBook" [book]="selectedBook"
[displayConstants]="displayConstants" (close)="closeModal()"></app-book-details-modal>

<div class="main-container">
    <div class="books-container">
        <div *ngIf="!filterCategory" class="pick-of-the-week">
            <h2 class="heading">Our latest offering</h2>
            <app-book-list-view [books]="pickOfTheWeekBooks" [displayConstants]="displayConstants"
                [enablePagination]="false"
                (showBookDetails)="openModal($event)"></app-book-list-view>
        </div>
        <div class="all-books">
            <h2 class="heading">{{ filterCategory ? filterCategory : 'All Books' }}</h2>
            <app-book-list-view [books]="filteredBooks" [displayConstants]="displayConstants"
                (showBookDetails)="openModal($event)"></app-book-list-view>
        </div>
    </div>
    <div class="category-container">
        <app-category-filter [books]="books" (filteredBooksChange)="updateFilteredBooks($event.filteredBooks, $event.category)"></app-category-filter>
    </div>
</div>