<h3 class="heading">🔥Trending book categories</h3>
<p class="label">View all categories and enjoy simple online browsing through our books.</p>
<div class="category-filter">
  <div class="genres-grid">
    <ng-container *ngFor="let category of categoryKeys">
      <span (click)="onToggleCategory(category)" class="category">
        <img [src]="CATEGORIES[category].imagePath" alt="{{ category }} Image">
        {{ category }}
      </span>
    </ng-container>
  </div>
  <!-- <button (click)="clearFilters()">Clear Filters</button> -->
</div>