@import "../styles.less";

.main-container {
    display: flex;
    width: 1145px;
    margin: 20px auto;

    .books-container {
        width: 728px;
    }

    .lorem-container {
        width: 400px;
        height: 500px;
        padding: 0 20px 20px 20px !important;
        margin-left: 20px;
    
        .genres-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px; /* Increase grid gap for spacing */
            height: 100%; /* Ensure it takes full height */
            align-content: space-between; /* Distribute space evenly */
    
            span {
                display: flex;
                align-items: center;
                line-height: 2; /* Add line height for spacing */
                cursor: pointer; /* Add pointer cursor to indicate clickability */
                padding: 10px; /* Add padding for better click area */
                border: 1px solid transparent; /* Add border for visual feedback */
                transition: border-color 0.3s; /* Smooth transition for border color */
    
                &:hover {
                    border-color: #ccc; /* Change border color on hover */
                }
    
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid white;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1174px) {
    .main-container {
        flex-direction: column;
        width: 100%;
        padding: 15px;


        .books-container {
            width: 100%;
        }

        .lorem-container {
            width: 100%;
            margin-left: 0px;
        }
    }
}