<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="book-details">
      <div class="image-container">
        <img [src]="book.thumbnail" alt="Book Image" class="book-image">
      </div>
      <div class="book-details-container">
        <h2>{{ book.title }}</h2>
        <div class="label">
          <span>{{ book.author }}</span>
          <span> {{ book.category }}</span>
          <span>{{ book.yearPublished | date }}</span>
          <span>{{ book.isbn }}</span>
        </div>
        <div class="button-container">
          <button (click)="handleButtonClick()" [ngClass]="buttonState.value">{{ buttonTitle }}</button>
          <button (click)="handleButtonClick()" class="cancel-button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>