<div class="search">
    <form class="search-form" role="search" (submit)="search(searchInput.value)">
        <input #searchInput class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            (input)="search(searchInput.value)" style="flex-grow: 1;">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <app-search-results-overlay [results]="(searchResults$ | async) || []" [searchTerm]="searchTerm"></app-search-results-overlay>
</div>